@import '../../../helpers/variables.scss';
@import '../../../helpers/mixins.scss';

.Offer {
  width: 95%;
  flex-basis: 95%;
  transform: translateY(0);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 350px;
  gap: 1rem;
  justify-items: center;

  &__single-offer {
    max-height: 500px;
    max-width: 500px;
    @include setFlex(column, center, stretch);
    background-color: #fff;
    border: 1px solid #aaa;
    text-decoration: none;
    overflow: hidden;
  }

  &__image-wrapper {
    flex-basis: 85%;
    max-height: 85%;
  }

  &__image {
    width: 100%;
    height: 100%;
    @include setImage();
  }

  &__description {
    flex-basis: 15%;
    background-color: #fff;
    text-align: center;

    @include setFlex();
    transform: translateY(0);
    transition: .3s;
  }

  &__offer-name {
    color: $text-color;
    font-size: 2.2rem;
    font-style: italic;
  }

  &__single-offer:hover &__description {
    transform: translateY(-5rem);
  }
}