@import '../../helpers/mixins.scss';

.Main {
  width: 100%;
  background-color: #eee;
  @include setFlex(column, start, center);

  &__title {
    font-size: 4rem;
    padding: 3rem 0;
    text-align: center;
    border: 2px solid red;
  }

  &__offer {
    border: 2px solid green;
  }

}