@import '../../helpers/mixins.scss';

.Main {
  width: 100%;
  @include setFlex(column, start, center);
  background-color: whitesmoke;

  &__title {
    font-size: 4rem;
    padding: 3rem 0;
    font-style: italic;
    text-align: center;
  }
}