@mixin setFlex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin setImage($position: center, $size: cover, $repeat: no-repeat) {
  background-position: $position;
  background-size: $size;
  background-repeat: $repeat;
}