// GLOBAL



$cursive-font: 'Merienda',
cursive;
$basics-fonts: 'Roboto',
'Oxygen',
'Ubuntu',
'Cantarell',
'Fira Sans',
'Droid Sans',
'Helvetica Neue',
sans-serif;
$rem-basics-font-size: 10px;
$body-color: white;
$text-color: black;