@import '../../helpers/mixins.scss';

.Navigation {
  height: 100vh;
  min-width: 20%;
  background-color: black;

  position: fixed;
  top: 0;
  left: -110%;
  z-index: 1;
  transition: .3s ease-in-out;
  display: grid;
  align-content: center;

  &__label {

    color: silver;
    text-decoration: none;
    transform: translateX(0);
    transition: .1s;
    padding: 5%;
    display: flex;
  }

  &__label:hover {
    transform: translateX(1rem);
  }

  &__icon {
    font-size: calc(1rem + 2vmin);
    margin-right: 1rem;
  }

  &__link-a {
    font-size: calc(1rem + 2vmin);
  }

  &__link-a:hover {
    color: white;
  }

  &_is_active {
    left: 0;
  }
}